html,
body {
  height: 100%;
}

a.custom-nav-link {

}
a.custom-nav-link.active {
  border: 2px dashed var(--chakra-colors-text-500);
  text-decoration: underline;
  font-weight: var(--chakra-fontWeights-bold);
}
