---
import Card from "../Card/Card.astro";
import QuoteMark from "./QuoteMark.astro";
export interface Props {
  authorName: string;
  authorPict: string;
  authorJob: string;
}
const { authorJob, authorName, authorPict } = Astro.props;
---

<figure class="flex flex-col lg:flex-row gap-4 md:gap-8">
  <blockquote class="flex-1 shrink-0">
    <Card>
      <div class="p-6">
        <QuoteMark />

        <slot />

        <div class="flex items-end rotate-180">
          <QuoteMark />
        </div>
      </div>
    </Card>
  </blockquote>

  <figcaption class="flex justify-center mt-2 md:mt-6 gap-4">
    <img
      class="h-12 w-12 md:w-32 md:h-32 rounded-full object-cover border-4 border-white"
      src={authorPict}
      alt={authorName}
    />
    <div class="">
      <div class="text-gray-900 text-xl md:text-3xl font-semibold">
        {authorName}
      </div>
      <div class="text-gray-700 text-base md:text-xl">
        {authorJob}
      </div>
    </div>
  </figcaption>
</figure>
