version: "3.9"
services:
  progressively-frontend:
    image: mfrachet/progressively-frontend
    env_file: ./packages/frontend/.env
    ports:
      - "3000:3000"
    environment:
      BACKEND_URL: http://progressively-backend:4000
    depends_on:
      - progressively-backend
  progressively-backend:
    image: mfrachet/progressively-backend
    env_file: ./packages/backend/.env
    ports:
      - "4000:4000"
      - "4001:4001"
    environment:
      DATABASE_URL: postgresql://admin:admin@db/progressively
      REDIS_URL: REDIS_URL=redis://redis-cache
    depends_on:
      - db
    command: scripts/docker-compose-init.sh
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: admin
      POSTGRES_USER: admin
      POSTGRES_DB: progressively
  redis-cache:
    image: redis
    restart: always
