---
import { Progressively } from "@progressively/server-side";
import Page from "../components/Page";

const sdk = Progressively.init({
  secretKey: "secret-key",
  clientKey: "valid-sdk-key",
  websocketUrl: "ws://localhost:4000",
  apiUrl: "http://localhost:4000",
  fields: {
    email: "marvin.frachet@something.com",
    id: "1",
  },
});

const { data } = await sdk.loadFlags();
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>Astro</title>

<body><Page client:load progressivelyProps={data} /></body>
