---
import Layout from "../layouts/Layout.astro";
import AboveTheFold from "../sections/AboveTheFold.astro";
import Relevance from "../sections/Relevance.astro";
import Values from "../sections/Values.astro";
import Differentiator from "../sections/Differenciator.astro";
import HowItWorks from "../sections/HowItWorks.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <AboveTheFold />
    <Relevance />
    <Values />
    <Differentiator />
    <HowItWorks />
  </main>
</Layout>
