---
import Layout from "../layouts/Layout.astro";
import AboveTheFold from "../sections/AboveTheFold.astro";
import CatchySection from "../sections/CatchySection.astro";
import Value from "../sections/Value.astro";
import Conclusion from "../sections/Conclusion.astro";
import { Intercom } from "../support/components/Intercom";
---

<Layout
  title="Welcome to Progressively, the next-gen feature flag solution."
  description="Progressively makes it possible to build your features iteratively and to understand how your audience behaves when being exposed to them. Take decision based on data and not guts feelings."
  keywords="feature flags, feature toggles, feature flipping, analytics, trunk based development, react, server side rendering, delivery, deployment"
>
  <main>
    <AboveTheFold />
    <Value />
    <CatchySection />
    <Conclusion />
    <Intercom client:load />
  </main>
</Layout>
