---
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
import HeroBg from "../components/HeroBg.astro";
import aboveFoldSrc from "./assets/above-fold.png";
import Title from "../components/Title.astro";
import Text from "../components/Text.astro";
---

<div class="relative px-4">
  <div
    class="max-w-2xl mx-auto pt-48 md:pt-64 flex flex-col justify-center text-center relative z-10"
  >
    <Title tag="h1" size="XL">Craft Key Features for Your Audience</Title>
    <div class="py-6">
      <Text size="L">
        Iteratively build features, understand audience behavior, decide with
        data. <br />All that anonymously, Open Source & self-hosted.
      </Text>
    </div>

    <div class="pt-2">
      <Button href="https://docs.progressively.app" id="above-the-fold-cta">
        Get me to the setup
      </Button>
    </div>

    <Image src={aboveFoldSrc} alt="Analytics view of mfrachet.com" />
  </div>

  <div class="absolute inset-0 w-full h-full hidden md:block">
    <HeroBg />
  </div>
</div>
