---
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
import HeroBg from "../components/HeroBg.astro";
import aboveFoldSrc from "./assets/above-fold.png";
import Title from "../components/Title.astro";
import Text from "../components/Text.astro";
---

<div class="relative px-4">
  <div
    class="max-w-3xl mx-auto pt-48 md:pt-64 flex flex-col justify-center text-center relative z-10"
  >
    <Title tag="h1" size="XL">
      Build the feature that matters to your audience
    </Title>
    <div class="py-6">
      <Text size="L">
        <strong>Progressively</strong> makes it possible to build your features iteratively
        and to understand how your audience behaves when being exposed to them. Take
        decision based on data and not guts feelings. <strong
          >We do that anonymously, with open source, and it's self-hosted.</strong
        >
      </Text>
    </div>

    <div>
      <Button href="https://docs.progressively.app">Get me to the setup</Button>
    </div>

    <Image src={aboveFoldSrc} alt="Analytics view of mfrachet.com" />
  </div>

  <div class="absolute inset-0 w-full h-full hidden md:block">
    <HeroBg />
  </div>
</div>
