---
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
import ffSrc from "./assets/above-fold/ff.png";
import catchySrc from "./assets/catchy/catchy.png";
import Title from "../components/Title.astro";
import { Browser } from "../components/Browser";
import Twitter from "../components/Icons/Twitter.astro";
import Discord from "../components/Icons/Discord.astro";
import Github from "../components/Icons/Github.astro";
---

<div
  class="relative pt-32 flex flex-col justify-center bg-gradient-to-t from-slate-200 to-slate-50"
>
  <div class="max-w-screen-xl mx-auto relative z-10 px-4">
    <div class="grid grid-cols-2 gap-12 items-center">
      <div>
        <Title tag="h1" size="L">
          All in one toolbox for <span class="text-pink-500"
            >feature flags & analytics</span
          >
        </Title>

        <div class="pt-2 pb-8">
          <Title size="M" tag="p" className="font-light !text-slate-500">
            Anonymous, Open Source & Self-hosted
          </Title>
        </div>

        <div class="flex flex-row gap-4">
          <Button
            href="https://docs.progressively.app"
            id="above-the-fold-cta"
            size="M"
            variant="secondary"
          >
            Get started
          </Button>
        </div>
      </div>

      <Browser>
        <div class="p-2">
          <Image src={ffSrc} alt="Feature flags of progressively.app" />
        </div>
      </Browser>
    </div>
  </div>

  <div class="px-4 flex flex-col items-center py-12 my-20 bg-slate-200">
    <Title tag="h2" size="M" className="!font-medium">Join the community</Title>
    <div class="flex flex-row gap-4 justify-center pt-2">
      <a
        href="https://twitter.com/_progressively"
        target="_blank"
        class="h-12 w-12 flex items-center justify-center bg-slate-900 rounded-full text-white hover:bg-slate-800 active:bg-slate-700"
      >
        <Twitter className="h-6 w-6" />
      </a>

      <a
        href="https://discord.gg/BcrsFRSA"
        target="_blank"
        class="h-12 w-12 flex items-center justify-center text-white bg-indigo-700 text-slate-900 rounded-full hover:bg-indigo-600 active:bg-indigo-500"
      >
        <Discord className="h-8 w-8" />
      </a>

      <a
        href="https://github.com/progressively-crew/progressively"
        target="_blank"
        class="h-12 w-12 flex items-center justify-center bg-slate-100 text-slate-900 rounded-full"
      >
        <Github className="h-12 w-12" />
      </a>
    </div>
  </div>

  <div class="w-1/2 mx-auto -mb-24 px-4">
    <Browser bg="grey">
      <div class="p-2">
        <Image src={catchySrc} alt="Analytics of progressively.app" />
      </div>
    </Browser>
  </div>
</div>../components/Browser.tsx
