---
import Button from "../components/Button.astro";
import Title from "../components/Title.astro";
import Navbar from "../components/Navbar.astro";
import { AnimatedImage } from "../components/AnimatedImage";
import Banner from "../components/Banner.astro";
---

<div class="relative flex flex-col justify-center">
  <div class="max-w-screen-xl mx-auto relative z-10 px-4 pt-32 md:pb-20">
    <div class="flex flex-col gap-6 pb-16 justify-center items-center">
      <Title tag="h1" size="XL" className="font-extrabold text-center">
        The product control tower
      </Title>

      <div class="pt-4 md:pb-16">
        <Button
          href="https://dashboard.progressively.app"
          id="above-the-fold-cta"
          size="XL"
          variant="primary"
          target="_blank"
        >
          Get started
        </Button>
      </div>

      <AnimatedImage client:load />
    </div>
  </div>
</div>
