---
import Button from "../components/Button.astro";
import Title from "../components/Title.astro";
import Navbar from "../components/Navbar.astro";
import { AnimatedImage } from "../components/AnimatedImage";
import Banner from "../components/Banner.astro";
---

<div
  class="relativeflex flex-col justify-center bg-gradient-to-b from-gray-700 to-gray-950"
>
  <header>
    <Banner>
      Thanks for your support on{" "}
      <a
        class="font-bold underline"
        href="https://www.producthunt.com/posts/progressively-2"
        id="ph-button"
      >
        ProductHunt
      </a>! We've reached <strong>#7 of the day!</strong> 🥰
    </Banner>
  </header>
  <Navbar />
  <div class="max-w-screen-xl mx-auto relative z-10 px-4 pt-32 md:pb-20">
    <div class="flex flex-col gap-3 items-center pb-16">
      <Title tag="h1" size="XXL" theme="dark" className="text-center">
        The Product Control Tower
      </Title>

      <div class="flex flex-col md:flex-row gap-4 items-center pt-4 md:pb-24">
        <Button
          href="https://dashboard.progressively.app"
          id="demo-cta"
          size="L"
          variant="primary"
          target="_blank"
        >
          Show demo
        </Button>

        <Button
          href="https://docs.progressively.app"
          id="above-the-fold-cta"
          size="L"
          variant="secondary-inverse"
          target="_blank"
        >
          Get started
        </Button>
      </div>

      <AnimatedImage client:load />
    </div>
  </div>
</div>
