---
import Title from "../components/Title.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
---

<section class="bg-gradient-to-b from-gray-700 to-gray-950 py-24">
  <div
    class="max-w-screen-2xl w-full mx-auto px-4 md:px-12 flex flex-col gap-4"
  >
    <Title theme="dark" size="XL" tag="h2">Interested to know more?</Title>

    <Text size="XL" theme="dark" className="max-w-4xl text-gray-200">
      Ready to elevate your project management and optimize user experiences?
      Schedule a call with us today to explore how Progressively can transform
      your workflow and bring your vision to life.
    </Text>

    <div class="pt-4 flex flex-col md:flex-row gap-4">
      <Button
        target="_blank"
        href="https://app.cal.com/mfrachet/30min"
        id="schedule-call"
        size="L"
        variant="secondary-inverse"
      >
        Schedule a call
      </Button>

      <Button
        target="_blank"
        href="https://docs.progressively.app/"
        size="L"
        id="get-started-interested-to-know"
        variant="tertiary-inverse"
      >
        Get started now
      </Button>
    </div>
  </div>
</section>
