---
import Button from "../components/Button.astro";
import Text from "../components/Text.astro";
import Title from "../components/Title.astro";
---

<section class="bg-gradient-to-b from-gray-700 to-gray-950 py-24">
  <div
    class="max-w-screen-2xl w-full mx-auto px-4 md:px-12 flex flex-col gap-4"
  >
    <Title theme="dark" size="XL" tag="h2">
      You've reached the end of the page!
    </Title>

    <Text size="XL" theme="dark" className="max-w-4xl text-gray-200">
      And you've not clicked anywhere until here! If it is a mistake, here are a
      few links that you can still follow to get started. Otherwise, please,
      could you fill <a
        class="font-semibold border-b border-gray-900"
        href="https://il6hw4vp4rl.typeform.com/to/Ben1G63r">this form</a
      >{" "}this form would help us understand why you've not continued? Thanks
      a lot!
    </Text>

    <div class="pt-4 flex flex-col md:flex-row gap-4">
      <Button
        target="_blank"
        href="https://app.cal.com/mfrachet/30min"
        id="schedule-call-conclusiono"
        size="L"
        variant="secondary-inverse"
      >
        Schedule a call
      </Button>

      <Button
        target="_blank"
        href="https://docs.progressively.app/"
        size="L"
        id="get-started-conclusion"
        variant="tertiary-inverse"
      >
        Get started
      </Button>
    </div>
  </div>
</section>
