---
import Title from "../components/Title.astro";
import Text from "../components/Text.astro";
import { TbBrandNextjs, TbSdk } from "react-icons/tb";
import { FaGithub, FaServer } from "react-icons/fa";
import { MdOutlinePrivacyTip } from "react-icons/md";
import { PiShareNetwork } from "react-icons/pi";

const differentators = [
  {
    Icon: FaGithub,
    title: "Open Source",
    content: "We're all about community spirit",
  },
  {
    Icon: FaServer,
    title: "Self-hosted",
    content: "Your machines, your data.",
  },
  {
    Icon: MdOutlinePrivacyTip,
    title: "Privacy matters",
    content: "Everything is made anonymously.",
  },
  {
    Icon: TbBrandNextjs,
    title: "Server Side Rendering",
    content: "Compatible with  Next.js, Remix, etc...",
  },
  {
    Icon: TbSdk,
    title: "Small libraries",
    content: "The React SDK for feature flags is 1.3kB.",
  },
  {
    Icon: PiShareNetwork,
    title: "Realtime updates",
    content: "Websockets powered (opt-in)",
  },
];
---

<section class="bg-white relative overflow-hidden px-4">
  <div class="max-w-6xl w-full mx-auto py-16 md:py-24 relative z-10">
    <div class="flex flex-col gap-4">
      <Title tag="h2" size="L">Key differentiators</Title>
      <div class="max-w-4xl">
        <Text size="XL" className="!leading-relaxed">
          Progressively might be compact, but it packs a punch! What really sets
          it apart is its philosophy and core values. We're big believers in
          these principles, and they're at the heart of everything we do.
        </Text>
      </div>
    </div>

    <div class="grid md:grid-cols-3 pt-12 gap-4 md:gap-12">
      {
        differentators.map((diff) => (
          <div class="flex flex-row md:flex-col gap-4">
            <div class="w-16 h-16 rounded-lg bg-gray-100 flex items-center justify-center">
              <diff.Icon className="text-4xl" />
            </div>

            <div class="pt-2">
              <Title tag="h3" size="M">
                {diff.title}
              </Title>
              <Title tag="p" size="S" className="font-light !text-gray-600">
                {diff.content}
              </Title>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
