---
import Title from "../components/Title.astro";
import Text from "../components/Text.astro";
import Card from "../components/Card/Card.astro";
import CardTitle from "../components/Card/CardTitle.astro";

const differentators = [
  {
    title: "Open Source",
    content:
      "We strongly believe in the community spirit. We don't built the tool on our side: we build it with you.",
  },
  {
    title: "Self-hosted",
    content:
      "You get the tool and install it on your machines. Your store data on your databases. We know nothing :).",
  },
];
---

<section class="bg-slate-900">
  <div class="max-w-6xl w-full mx-auto py-12">
    <Title theme="dark" as="h2" size="L">Why choose Progressively?</Title>

    <div class="grid grid-cols-3 pt-6 gap-8">
      {
        differentators.map((diff) => (
          <Card variant="dark">
            <CardTitle theme="dark">{diff.title}</CardTitle>
            <Text theme="dark">{diff.content}</Text>
          </Card>
        ))
      }
    </div>
  </div>
</section>
