---
import Card from "../components/Card/Card.astro";
import CardTitle from "../components/Card/CardTitle.astro";
import Cta from "../components/Cta.astro";
import Quote from "../components/Quote/Quote.astro";
import Text from "../components/Text.astro";
import Title from "../components/Title.astro";

const whatProgressivelyBrings = [
  {
    title: "You want to ship faster",
    content:
      "Timely delivery is challenging, especially when deploying code and rolling out features are intertwined complexities.",
  },
  {
    title: "You don't want your data to be stored somewhere else",
    content:
      "Securing data in unknown realms raises concerns. Privacy matters.",
  },
  {
    title: "You don't want an overly complicated solution.",
    content:
      "Not everyone needs a tool with 1 billion charts. Embrace simplicity.",
  },
  {
    title: "You don't want to multiply your tooling",
    content:
      "Juggling 20+ tools in a daily job is a hassle. Minimize context and experience switching.",
  },
  {
    title: "You don't have time to build your own solution",
    content:
      "Building your own applications is your priority. We couldn't agree more.",
  },
  {
    title: "You want to be part of a community",
    content:
      "Engaging in a community means influencing both the tool and the people involved.",
  },
];
---

<section class="bg-white px-4">
  <div class="max-w-6xl w-full mx-auto py-24">
    <div class="text-center">
      <Title tag="h2" size="L">Who is Progressively for?</Title>

      <div class="pt-2">
        <Title tag="p" size="S" className="font-light">
          No matter if you are a small team or a big company, <strong
            >Progressively</strong
          > can help if...
        </Title>
      </div>
    </div>

    <div class="grid md:grid-cols-3 pt-6 pb-12 gap-4 md:gap-8">
      {
        whatProgressivelyBrings.map((wpb) => (
          <Card>
            <CardTitle>{wpb.title}</CardTitle>
            <Text>{wpb.content}</Text>
          </Card>
        ))
      }
    </div>

    <Cta
      title="Join the journey, set up your instance."
      actionTxt="Get started"
      href="https://docs.progressively.app"
      actionId="relevance-cta"
    >
      <Quote
        authorName="Marvin Frachet"
        authorJob="Frontend Eng @Proton"
        authorPict="https://avatars.githubusercontent.com/u/3874873?v=4"
      >
        <Text size="XL">
          When creating Progressively, my goal was an easy-to-use feature flags
          tool for developers and product teams.
        </Text>

        <br />

        <Text size="XL">
          In the process, I discovered the synergy of <strong
            >feature flags, A/B tests, and analytics</strong
          >. I'm now certain its future lies in <strong
            >delivering meaningful data</strong
          > for informed feature shipping decisions.
        </Text>
      </Quote>
    </Cta>
  </div>
</section>
