---
import Card from "../components/Card/Card.astro";
import CardTitle from "../components/Card/CardTitle.astro";
import Cta from "../components/Cta.astro";
import Quote from "../components/Quote/Quote.astro";
import Text from "../components/Text.astro";
import Title from "../components/Title.astro";

const whatProgressivelyBrings = [
  {
    title: "You want to ship faster",
    content:
      "Delivering on time is a pain and a risky task. It's even more complex when deploying code and rolling out a feature is a coupled task.",
  },
  {
    title: "You don't want your data to be stored in a place you don't know",
    content:
      "Having data stored somewhere in the wild, when you don't know who has access to them can be a source of stress. Privacy matters.",
  },
  {
    title: "You don't want an overly complex solution",
    content:
      "Having access to a tool with 1 billion charts and tools is not for everyone. Simplicity is key.",
  },
  {
    title:
      "You don't want to multiply your tooling for feature flags and analytics",
    content:
      "Owning a bookmark folder with 20+ tools for a daily job is a pain. Context switching and experience switching is annoying.",
  },
  {
    title: "You don't have time to build your own solution",
    content:
      "Focusing on building your own applications is what matters to you. And we can't agree more.",
  },
  {
    title: "You want to be part of a community",
    content:
      "Being part of a community means that you will have an impact on the tool itself, but also on people.",
  },
];
---

<section class="bg-slate-100 px-4">
  <div class="max-w-6xl w-full mx-auto py-12">
    <div class="text-center">
      <Title as="h2" size="L">Who is Progressively for?</Title>

      <div class="pt-2">
        <Text>
          No matter if you are a small team or a big company, <strong
            >Progressively</strong
          > can help if...
        </Text>
      </div>
    </div>

    <div class="grid md:grid-cols-3 pt-6 pb-12 gap-4 md:gap-8">
      {
        whatProgressivelyBrings.map((wpb) => (
          <Card>
            <CardTitle>{wpb.title}</CardTitle>
            <Text>{wpb.content}</Text>
          </Card>
        ))
      }
    </div>

    <Cta
      title="Be part of the journey, setup your own instance"
      actionTxt="Get started"
      href="https://docs.progressively.app"
    >
      <Quote
        authorName="Marvin Frachet"
        authorJob="Frontend Eng @Proton"
        authorPict="https://avatars.githubusercontent.com/u/3874873?v=4"
      >
        <Text size="XL">
          My intention when building <strong>Progressively</strong> was to create
          a feature flags tool that is easy and intuitive to use for both the devs
          and product folks.
        </Text>

        <br />

        <Text size="XL">
          During the process of crafting it, I realized that <strong
            >feature flags, A/B tests and analytics</strong
          > are all in the same bucket and they work altogether.
        </Text>

        <br />

        <Text size="XL">
          I'm now convinced that its future will be about providing <strong
            >meaningful data to help people</strong
          > make decisions when shipping features.
        </Text>
      </Quote>
    </Cta>
  </div>
</section>
