---
import Title from "../components/Title.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";

const roadmaps = [
  {
    title: "Feature flags",
    description: "",
    state: "finished",
  },
];
---

<div class="max-w-4xl mx-auto text-center flex flex-col gap-8 py-24">
  <Title tag="h2" size="L">The roadmap</Title>
  <ol>
    {
      roadmaps.map((road) => (
        <li>
          <Title tag="h4" size="S">
            {road.title}
          </Title>
          <Text>Hello moto</Text>
        </li>
      ))
    }
  </ol>
</div>
