---
import Feature from "../components/Feature.astro";
import Title from "../components/Title.astro";
import Text from "../components/Text.astro";
import toggleSrc from "./assets/value/toggle.jpg";
import gradualSrc from "./assets/value/gradual.jpg";
import qaSrc from "./assets/value/qa.jpg";
import clockSrc from "./assets/value/clock.jpg";
import analyticsSrc from "./assets/value/analytics.jpg";
import FeatureTabsWrapper from "./FeatureTabsWrapper.astro";

const features = [
  {
    title: "Instant feature deployments",
    content: [
      "With a straightforward activation, gradually reveals concealed features to users.",
      "Experience issues with your new feature? Toggle the activation in the opposite direction to disable it.",
    ],
    imageSrc: toggleSrc,
  },
  {
    title: "Gradual deployments",
    content: [
      "Hesitant about unveiling your latest feature? Dip your toe in the water by introducing it to just 1% or 2% of your audience.",
      "If your error tracking system raises an alarm, swiftly deactivate the feature and proceed with your release plan, taking it one step at a time.",
    ],
    imageSrc: gradualSrc,
  },
  {
    title: "Scheduled deployments",
    content: [
      "Getting ready for a product or feature launch is a mammoth undertaking, often bound by time constraints.",
      "To lighten your load and avoid adding another item to your pre-release checklist, consider scheduling the release deployments – one less box to check off your list.",
    ],
    imageSrc: clockSrc,
  },
  {
    title: "QA directly in production",
    content: [
      "Skip the hassle of intermediate staging environments that deviate from your production setup. Opt for a smarter approach by concealing your features with a feature flag, directing them to users based on qualitative criteria.",
      "For example, grant access to the feature for users with email addresses ending in X. Rest assured, we prioritize your privacy – no storing of user data.",
    ],
    imageSrc: qaSrc,
  },
  {
    title: "Privacy-Focused Analytics",
    content: [
      "In the journey of scaling a product or business, the compass is set by insightful data, guiding decisions with purpose.",
      "Within this narrative, the threads of feature flags, A/B testing, and analytics are tightly woven, with the promise of responsibly built-in progress shaping each step of the tale.",
    ],
    imageSrc: analyticsSrc,
  },
];
---

<div class="bg-slate-50">
  <section class="max-w-6xl w-full mx-auto py-12 px-4">
    <div class="text-center pb-8">
      <Title tag="h2" size="L">What can you expect from it?</Title>
    </div>

    <FeatureTabsWrapper />
  </section>
</div>
