---
import Title from "../components/Title.astro";
import FeatureTabsWrapper from "./FeatureTabsWrapper.astro";
---

<div class="bg-slate-50">
  <section class="max-w-6xl w-full mx-auto py-24 px-4">
    <div class="text-center pb-8">
      <Title tag="h2" size="L">What can you expect?</Title>
    </div>

    <FeatureTabsWrapper />
  </section>
</div>
