---
import Title from "../components/Title.astro";
---

<section class="max-w-6xl w-full mx-auto py-12">
  <div class="text-center">
    <Title as="h2" size="L">What can you expect from it?</Title>
  </div>
</section>
