:root {
  --vp-home-hero-name-color: #4b37a9;
  --vp-c-brand: #4b37a9;
  --vp-c-brand-dark: #430a8b;
  --vp-button-brand-hover-border: #430a8b;
  --vp-button-brand-border: #430a8b;
  --vp-button-brand-hover-bg: #430a8b;
  --vp-button-brand-active-border: #430a8b;
}
