:root {
  --primary: #4f46e5;
  --color-slide-thumb: #fff;
  --color-slide-thumb-border: #334155;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-font-smoothing: antialiased; /* For Chrome, Safari, and other WebKit browsers */
  -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: 2px solid royalblue;
}

/* Radio */

.custom-radio:checked {
  border: 1px solid var(--primary);
}

.custom-radio:checked::before {
  background: var(--primary);
}
/* End ofRadio */

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  content: "'lool'";
  -webkit-appearance: none; /* Override default look */
  appearance: none;

  /*custom styles*/
  background-color: var(--color-slide-thumb);
  height: 1.6rem;
  width: 1.6rem;
  border: 2px solid var(--color-slide-thumb-border);
  border-radius: 24px;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid var(--bg-slide);
  outline-offset: 0.125rem;
}

/******** Firefox styles ********/

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: var(--color-slide-thumb);
  height: 1.6rem;
  width: 1.6rem;
  border: 2px solid var(--color-slide-thumb-border);
  border-radius: 24px;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 3px solid var(--bg-slide);
  outline-offset: 0.125rem;
}

/* Number */
input[type="number"] {
  position: relative;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button !important;
  width: 24px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
