:root {
  --primary: #4f46e5;
  --bg-slide: #e2e8f0;
  --color-slide-thumb: #334155;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: 3px solid #a5b4fc;
}

/* Radio */

.custom-radio:checked {
  border: 1px solid var(--primary);
}

.custom-radio:checked::before {
  background: var(--primary);
}
/* End ofRadio */

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--bg-slide);
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -12px; /* Centers thumb on the track */

  /*custom styles*/
  background-color: var(--color-slide-thumb);
  height: 2rem;
  width: 1rem;
  border-radius: 4px;
}

input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid var(--bg-slide);
  outline: 3px solid var(--bg-slide);
  outline-offset: 0.125rem;
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: var(--bg-slide);
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: var(--color-slide-thumb);
  height: 2rem;
  width: 1rem;
  border-radius: 4px;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid var(--bg-slide);
  outline: 3px solid var(--bg-slide);
  outline-offset: 0.125rem;
}

/* Number */
input[type="number"] {
  position: relative;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button !important;
  width: 24px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
