# fly.toml file generated for backend-progressively on 2022-10-31T08:51:24+01:00

app = "backend-progressively"
kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[build]
  dockerfile = "../../Dockerfile.Backend"


[env]
  SMTP_PORT = 587
  REFRESH_TOKEN_EXPIRES = 84600
  FRONTEND_URL = "https://dashboard.progressively.app"
  BACKEND_URL = "https://backend-progressively.fly.dev"
  SOCKET_TIMEOUT = 10000
  ALLOW_REGISTRATION = "true"
  THROTTLING_TTL = 60
  THROTTLING_LIMIT = 10000

[experimental]
  allowed_public_ports = []
  auto_rollback = true

[[services]]
  http_checks = []
  internal_port = 4000
  processes = ["app"]
  protocol = "tcp"
  script_checks = []
  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 0
    timeout = "2s"
