.container {
  display: flex;
  gap: 16px;
  margin: 32px 0;
}

.flag {
  border-radius: 4px;
  border: 1px solid #f1f1f1;
  padding: 16px;
}

.browser {
  flex: 1;
  border: 3px solid #f1f1f1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 100%;
}

.topbar {
  padding: 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #f1f1f1;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}

.content {
  padding: 8px;
  background: white;
  transition: background 0.5s;
  height: 100%;
}

.content.activated {
  background: rgb(157, 241, 157);
}

.btn {
  border: none;
  background: none;
  display: flex;
  height: 32px;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.switch {
  width: 60px;
  height: 32px;
  border-radius: 20px;
  position: relative;
  background: #edf2f7;
  transition: all 0.3s;
}

.switch:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  width: 26px;
  height: 26px;
  top: 3px;
  transform: translateX(-100%);
  background: white;
  transition: all 0.3s;
}

.switch.activated:before {
  transform: translateX(0%);
}

.switch.activated {
  background: #38a169;
}
