---
import Title from "../Title.astro";

export interface Props {
  theme?: "light" | "dark";
}
const { theme } = Astro.props;
---

<div class="pb-2">
  <Title tag="h3" size="M" theme={theme}><slot /></Title>
</div>
