---
import { Card } from "../../components/Card/Card";
import Text from "../../components/Text.astro";
import CardContent from "../../components/Card/CardContent.astro";
import CardTitle from "../../components/Card/CardTitle.astro";
import CardAsset from "../../components/Card/CardAsset.astro";
import { MultiVariants } from "./feature-flags/MultiVariants";
import { Scheduled } from "./feature-flags/Scheduled";
import { Badge } from "../../components/Badge";
import { Gradual } from "./feature-flags/Gradual";
import { AttributeBased } from "./feature-flags/AttributeBased";
---

<div class="flex flex-row gap-4">
  <Card>
    <CardAsset colorScheme="indigo">
      <MultiVariants client:visible />
    </CardAsset>
    <CardContent>
      <CardTitle>Single and multi variants</CardTitle>
      <Text>Yooooooo</Text>
    </CardContent>
  </Card>

  <Card>
    <CardAsset colorScheme="indigo"><Scheduled client:visible /></CardAsset>
    <CardContent>
      <CardTitle>Scheduled rollout</CardTitle>
      <Text>Yooooooo</Text>
    </CardContent>
  </Card>

  <Card>
    <CardAsset colorScheme="indigo">
      <Gradual client:visible />
    </CardAsset>
    <CardContent>
      <CardTitle>Gradual rollout</CardTitle>
      <Text>Yooooooo</Text>
    </CardContent>
  </Card>

  <Card>
    <CardAsset colorScheme="indigo">
      <AttributeBased client:visible />
    </CardAsset>
    <CardContent>
      <CardTitle>Attribute based targeting</CardTitle>
      <Text>Yooooooo</Text>
    </CardContent>
  </Card>

  <Card>
    <CardAsset colorScheme="indigo" />
    <CardContent>
      <CardTitle>Anonymous</CardTitle>
      <Text>Yooooooo</Text>
    </CardContent>
  </Card>
</div>
