---
import { Card } from "../../components/Card/Card";
import Text from "../../components/Text.astro";
import CardContent from "../../components/Card/CardContent.astro";
import CardTitle from "../../components/Card/CardTitle.astro";
import CardAsset from "../../components/Card/CardAsset.astro";
import { MultiVariants } from "./feature-flags/MultiVariants";
import { Scheduled } from "./feature-flags/Scheduled";
import { Gradual } from "./feature-flags/Gradual";
import { AttributeBased } from "./feature-flags/AttributeBased";
---

<div class="flex flex-row gap-4">
  <Card>
    <CardAsset colorScheme="indigo">
      <MultiVariants client:visible />
    </CardAsset>
    <CardContent>
      <CardTitle>Single and multi variants</CardTitle>
      <Text size="L">
        Single variant feature flags toggle a feature on or off for all users,
        while multi-variant flags enable testing and deploying multiple feature
        versions simultaneously.
      </Text>
    </CardContent>
  </Card>

  <Card>
    <CardAsset colorScheme="indigo"><Scheduled client:visible /></CardAsset>
    <CardContent>
      <CardTitle>Scheduled rollout</CardTitle>
      <Text size="L">
        Scheduled rollout feature flags enable you to automate the release of a
        feature at a specific time, ensuring a smooth and timely deployment.
      </Text>
    </CardContent>
  </Card>

  <Card>
    <CardAsset colorScheme="indigo">
      <Gradual client:visible />
    </CardAsset>
    <CardContent>
      <CardTitle>Gradual rollout</CardTitle>
      <Text size="L">
        Gradual rollout feature flags allow you to incrementally release a
        feature to users, reducing risk and ensuring stability during
        deployment.
      </Text>
    </CardContent>
  </Card>

  <Card>
    <CardAsset colorScheme="indigo">
      <AttributeBased client:visible />
    </CardAsset>
    <CardContent>
      <CardTitle>Attribute based targeting</CardTitle>
      <Text size="L">
        Attribute-based targeting feature flags enable you to release features
        to specific user segments based on defined attributes, ensuring
        personalized and relevant experiences.
      </Text>
    </CardContent>
  </Card>
</div>
