---
import Card from "../../components/Card/Card.astro";
import Text from "../../components/Text.astro";
import CardContent from "../../components/Card/CardContent.astro";
import CardTitle from "../../components/Card/CardTitle.astro";
import CardAsset from "../../components/Card/CardAsset.astro";
---

<div class="flex flex-row gap-4">
  <Card>
    <CardContent>
      <CardAsset src="" alt="" />
      <CardTitle>Single and multi variants</CardTitle>
      <Text>Yooooooo</Text>
    </CardContent>
  </Card>

  <Card>
    <CardContent>
      <CardAsset src="" alt="" />
      <CardTitle>Scheduled rollout</CardTitle>
      <Text>Yooooooo</Text>
    </CardContent>
  </Card>

  <Card>
    <CardContent>
      <CardAsset src="" alt="" />
      <CardTitle>Gradual rollout</CardTitle>
      <Text>Yooooooo</Text>
    </CardContent>
  </Card>

  <Card>
    <CardContent>
      <CardAsset src="" alt="" />
      <CardTitle>Attribute based targeting</CardTitle>
      <Text>Yooooooo</Text>
    </CardContent>
  </Card>

  <Card>
    <CardContent>
      <CardAsset src="" alt="" />
      <CardTitle>Anonymous</CardTitle>
      <Text>Yooooooo</Text>
    </CardContent>
  </Card>
</div>
