---
import { Card } from "../../components/Card/Card";
import Text from "../../components/Text.astro";
import CardContent from "../../components/Card/CardContent.astro";
import CardTitle from "../../components/Card/CardTitle.astro";
import CardAsset from "../../components/Card/CardAsset.astro";
---

<div class="flex flex-row gap-4">
  <Card>
    <CardAsset colorScheme="emerald" />
    <CardContent>
      <CardTitle>Works with single variant feature flags</CardTitle>
      <Text>Yooooooo</Text>
    </CardContent>
  </Card>

  <Card>
    <CardAsset colorScheme="emerald" />
    <CardContent>
      <CardTitle>Works with multi variant feature flags</CardTitle>
      <Text>Yooooooo</Text>
    </CardContent>
  </Card>

  <Card>
    <CardAsset colorScheme="emerald" />
    <CardContent>
      <CardTitle>Works with page views</CardTitle>
      <Text>Yooooooo</Text>
    </CardContent>
  </Card>

  <Card>
    <CardAsset colorScheme="emerald" />
    <CardContent>
      <CardTitle>Works with custom events</CardTitle>
      <Text>Yooooooo</Text>
    </CardContent>
  </Card>
</div>
