<div class="h-10 bg-slate-50">
  <div
    class="h-10 text-center hidden bg-emerald-100 text-slate-900 flex flex-row items-center justify-center px-4"
    id="banner"
  >
    <div>
      <slot />
    </div>
  </div>
</div>
