<div class="h-10" id="banner-wrapper">
  <div
    class="h-10 text-center hidden text-gray-900 flex flex-row items-center justify-center px-4"
    id="banner"
  >
    <div>
      <slot />
    </div>
  </div>
</div>
