---
export interface Props {
  bg?: "grey" | "default";
}

const { bg } = Astro.props;

const className = `border border-slate-200 rounded-2xl overflow-hidden shadow-xl p-2 ${
  bg === "grey" ? "bg-slate-50" : "bg-white"
}`;
---

<div class={className}>
  <slot />
</div>
