<div class="border border-slate-900 rounded-lg overflow-hidden">
  <div
    class="flex flex-row justify-between items-center py-3 px-4 bg-slate-900"
  >
    <div class="flex flex-row items-center gap-1">
      <div class="w-2 h-2 rounded-full bg-green-500"></div>
      <div class="w-2 h-2 rounded-full bg-yellow-500"></div>
      <div class="w-2 h-2 rounded-full bg-red-500"></div>
    </div>
  </div>
  <slot />
</div>
