---
import Button from "./Button.astro";
import Card from "./Card/Card.astro";
import Title from "./Title.astro";

export interface Props {
  title: string;
  actionTxt: string;
  href: string;
  actionId?: string;
}

const { title, actionTxt, href, actionId } = Astro.props;
---

<Card variant="success">
  <div class="p-2 md:p-12">
    <slot />

    <div class="pt-16 md:pt-8 max-w-2xl text-center md:text-left">
      <Title tag="h2" size="L">
        {title}
      </Title>
      <div class="py-8 md:pt-12 md:pb-0">
        <Button variant="secondary" href={href} id={actionId}>
          {actionTxt}
        </Button>
      </div>
    </div>
  </div>
</Card>
