---
import { Image } from "astro:assets";
import Title from "./Title.astro";
export interface Props {
  title: string;
  imageSrc: any;
  reversed?: boolean;
}

const { title, reversed, imageSrc } = Astro.props;
---

<article class="grid grid-cols-[1fr_1fr] items-center">
  {
    reversed ? (
      <div class="flex items-center justify-center">
        <Image src={imageSrc} alt="" class="w-96" />
      </div>
    ) : (
      <div>
        <Title as="h3" size="M">
          {title}
        </Title>

        <div class="h-4" />
        <slot />
      </div>
    )
  }

  {
    reversed ? (
      <div>
        <Title as="h3" size="M">
          {title}
        </Title>

        <div class="h-4" />
        <slot />
      </div>
    ) : (
      <div class="flex items-center justify-center">
        <Image src={imageSrc} alt="" class="w-96" />
      </div>
    )
  }
</article>
