---
import Button from "./Button.astro";
import Text from "./Text.astro";
---

<nav class="py-2 fixed top-0 z-20 bg-white w-full">
  <div
    class="px-4 max-w-6xl w-full mx-auto flex flex-row justify-between items-center"
  >
    <div class="flex flex-row gap-2 items-center">
      <img src="/favicon.svg" alt="Progressively" class="w-8 h-8 block" />
      <div class="font-bold text-lg hidden md:block">Progressively</div>
    </div>

    <ul class="flex flex-row justify-end gap-4 items-center">
      <li class="hidden md:block">
        <a
          href="https://www.producthunt.com/posts/progressively-2?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-progressively-2"
          target="_blank"
          ><img
            src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=432705&theme=light"
            alt="Progressively - Craft Key Features for Your Audience | Product Hunt"
            style="width: 138px; height: 30px;"
            width="138"
            height="30"
          /></a
        >
      </li>
      <li>
        <Button
          variant="tertiary"
          size="S"
          href="https://docs.progressively.app"
          id="nav-docs"
        >
          Documentation
        </Button>
      </li>
      <li>
        <Button
          variant="secondary"
          size="S"
          href="https://docs.progressively.app/getting-started/"
          id="nav-getstarted"
        >
          Get started
        </Button>
      </li>
    </ul>
  </div>
</nav>
