---
import Button from "./Button.astro";
---

<nav class="container py-2 fixed top-0 z-20 backdrop-blur-md bg-white/30">
  <ul class="flex flex-row justify-end gap-4">
    <li><Button variant="tertiary" size="M">Documentation</Button></li>
    <li><Button variant="secondary" size="M">Get started</Button></li>
  </ul>
</nav>
