---
export interface Props {
  size?: "XL" | "L" | "M";
}

const sizeStyle = {
  M: "text-base",
  L: "text-xl ",
  XL: "text-xl ",
};

const { size } = Astro.props;

const sharedStyles = "text-slate-700 leading-relaxed";
const styles = `${sharedStyles} ${sizeStyle[size || "M"]}`;
---

<p class={styles}><slot /></p>
