name: E2E
on:
  pull_request:
    branches: ["master"]
  workflow_dispatch:

jobs:
  static:
    runs-on: ubuntu-latest
    # Uncomment for parallel
    # strategy:
    #   matrix:
    #     job: [0, 1, 2, 3]
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_DB: progressively
          POSTGRES_USER: admin
          POSTGRES_PASSWORD: admin
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: "npm"
          cache-dependency-path: |
            package-lock.json
            packages/frontend/package-lock.json
            packages/backend/package-lock.json

      - name: Creating .env files
        run: mv ./packages/frontend/.env.example ./packages/frontend/.env && mv ./packages/backend/.env.example ./packages/backend/.env

      - name: Bootstrap projects
        run: npm run setup:ci

      - name: Prepare the DB
        run: npm run db:prepare

      - name: Build
        run: npm run build

      - name: Start the backend project
        working-directory: ./packages/backend
        run: npm start &

      - name: Start the frontend project
        working-directory: ./packages/frontend
        run: npm start &

      # Uncomment for parallel
      - name: E2E tests
        run: npx wait-on -t 60000 tcp:4000 && npm run test:e2e:ci
        # env:
        #   CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
        #   GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
